<div class="row m-auto justify-content-center scroll">
    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Domicilio</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proveedor of proveedores; let i = index">
                <td>{{proveedor.nombre | uppercase }}</td>
                <td>{{proveedor.domicilio | uppercase }}</td>
                <td>{{proveedor.correo | uppercase }}</td>
                <td>{{proveedor.telefono | uppercase }}</td>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" [routerLink]="['/empleados', i]" routerLinkActive="router-link-active" class="btn btn-warning btn-sm">
                              <!-- Editar -->
                              <i class="material-icons">visibility</i>
                            </button> &nbsp;


                            <button type="button" [routerLink]="['empleados/horastrabajas', i]" routerLinkActive="router-link-active" class="btn  btn-success btn-sm">
                              <!-- Liquidar -->
                              <i class="material-icons">attach_money</i>
                            </button> &nbsp;

                            <button (click)="bajaProveedor(proveedor.id)" type="button" class="btn  btn-danger btn-sm">
                                <!-- Eliminar -->
                                <i class="material-icons">block</i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>

<app-altaprov></app-altaprov>