<div class="col">

    <div class="row justify-content-center ">
        <form class=" form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Ingrese el DNI" aria-label="Buscar">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>

    <div class="row mt-4 ml-2">
        <div class="col-12">
            <form #formContacto="ngForm" (ngSubmit)="onSubmit(); formContacto.reset()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group  col-md-6">
                        <label>Apellido</label>
                        <input type="text" class="form-control" placeholder="Apellido">
                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label>Dni</label>
                        <input type="text" class="form-control" placeholder="Dni">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Fecha de nacimiento</label>
                        <input type="date" class="form-control" placeholder="Fecha de nacimiento">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Correo</label>
                        <input type="email" class="form-control" placeholder="Correo">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Telefono</label>
                        <input type="tel" class="form-control" placeholder="Telefono">
                    </div>
                </div>


                <div class="form-group">
                    <label>Actividad</label>
                    <!--
                        <input type="text" class="form-control" placeholder="Actividad">
                        -->
                    <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Elija una activiad</option>
                            <option value="1">Musculación</option>
                            <option value="2">Boxeo</option>
                            <option value="3">Funcional</option>
                            <option value="1">Crossfit</option>
                            <option value="2">Pilates</option>
                            <option value="3">Pase Libre</option>
                            <option value="3">Pase Libre + Crossfit</option>
                        </select>
                </div>

                <hr>
                <div class="form-row">
                    <div class="form-group text-center col-md-6 ">
                        <button type="submit " class="btn btn-info w-100 ">
                            <i class="fa fa-save "></i>
                            Modificar
                        </button>
                    </div>

                    <div class="form-group text-center col-md-6">
                        <button type="submit " class="btn btn-info w-100 ">
                                <i class="far fa-trash-alt"></i>
                                Eliminar
                            </button>
                    </div>
                </div>

            </form>
        </div>

    </div>