<br>
<div class="col">

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-10">
                    <h5 class="float-left">Datos socio: <small>{{socio.nombre}}, {{socio.apellido}}</small></h5>
                </div>
                <div class="col-md-2">
                    <button type="submit" [routerLink]="['/socios/lista']" class="float-right btn btn-danger w-10 ">
                                <!-- <i class="material-icons">cancel</i> -->
                                <i class="fa fa-arrow-left"></i>
                                
                            </button>
                </div>
            </div>
            <hr>
            <form #formContacto="ngForm" (ngSubmit)="formContacto.reset()" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="{{socio.nombre}}" value="{{socio.nombre}}" name="nombre">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Apellido</label>
                        <input type="text" class="form-control" placeholder="{{socio.apellido}}" value="{{socio.apellido}}" name="apellido">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Dni</label>
                        <input type="text" class="form-control" placeholder="{{socio.dni}}" value="{{socio.dni}}" name="dni">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Fecha de nacimiento</label>
                        <input type="date" class="form-control" placeholder="{{socio.fecha_nacimiento}}" value="{{socio.fecha_nacimiento}}" name="fecha_nacimiento">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Fecha de inicio</label>
                        <input type="date" class="form-control" placeholder="{{socio.fecha_inicio}}" value="{{socio.fecha_inicio}}" name="fecha_inicio">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Correo</label>
                        <input type="email" class="form-control" placeholder="{{socio.email}}" value="{{socio.email}}" name="email">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Foto</label>
                        <input type="file" class="form-control-file">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Telefono Celular</label>
                        <input type="tel" class="form-control" placeholder="{{socio.telefono}}" value="{{socio.telefono}}" name="celular">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Telefono de Emergencia</label>
                        <input type="tel" class="form-control" placeholder="{{socio.telefono_emergencia}}" value="{{socio.telefono_emergencia}}" name="tel_emergencia">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Domicilio</label>
                        <input type="text" class="form-control" placeholder="{{socio.domicilio}}" value="{{socio.domicilio}}" name="domicilio">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Saldo</label>
                        <input type="text" class="form-control" placeholder="{{socio.saldo}}" value="{{socio.saldo}}" name="saldo">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Observaciones Medicas</label>
                        <input type="text" class="form-control" placeholder="{{socio.observaciones_medicas}}" value="{{socio.observaciones_medicas}}" name="observaciones_medicas">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Actividad</label>
                        <!--
                                    <input type="text" class="form-control" placeholder="Actividad">
                                    -->
                        <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>Elija una activiad</option>
                                        <option value="1">Musculación</option>
                                        <option value="2">Boxeo</option>
                                        <option value="3">Funcional</option>
                                        <option value="1">Crossfit</option>
                                        <option value="2">Pilates</option>
                                        <option value="3">Pase Libre</option>
                                        <option value="3">Pase Libre + Crossfit</option>
                                    </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Ficha médica</label>
                        <input type="file" class="form-control-file">
                    </div>


                </div>






                <hr>
                <div class="form-group text-center ">
                    <button (click)="nuevoSocio()" type="submit" class="btn btn-info w-100 ">
                                <i class="fa fa-save "></i>
                                Guardar
                            </button>
                </div>
            </form>
        </div>
    </div>


</div>