.login {
    border: 1px;
    border-color: black;
    max-width: 50%;
    height: 300px;
    /* background-color: rgba(221, 217, 217, 0.534); */
    border-radius: 2rem;
    /* overflow: hidden; */
    margin-top: 15%;
    margin-left: 50%;
    /* padding-top: 5px; */
}

.boton {
    border-radius: 2rem;
}

.fondo {
    background-image: url('../../../assets/fondo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 80%;
}

.rounded {
    border-radius: .70rem!important;
}

.rounded-left {
    border-radius: .70rem!important;
}

.rounded-right {
    border-radius: .70rem!important;
}

.input-group-text {
    background: none!important;
    border: none!important;
    margin-left: -35px!important;
    z-index: 100;
}

.input-missing {
    /* border: 5px outset rgb(197, 40, 40); */
    background-color: rgba(197, 40, 40, 0.973);
    color: whitesmoke;
}

.input-succes {
    /* border: 5px outset rgb(36, 163, 104); */
    background-color: rgba(36, 163, 104, 0.966);
    color: whitesmoke;
}