.login {
    border: 1px;
    border-color: black;
    max-width: 50%;
    /* background-color: rgba(221, 217, 217, 0.534); */
    /* border-radius: 2rem; */
    overflow: hidden;
    margin-top: 15%;
    margin-left: 25%;
    ;
}

.boton {
    border-radius: 2rem;
}

.fondo {
    background-image: url('../../../assets/fondo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 80%;
}

.rounded {
    border-radius: .70rem!important;
}

.rounded-left {
    border-radius: .70rem!important;
}

.rounded-right {
    border-radius: .70rem!important;
}

.input-group-text {
    background: none!important;
    border: none!important;
    margin-left: -35px!important;
    z-index: 100;
}