<!--
<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista...">
    </div>
</div>
-->

<div class="row m-auto justify-content-center scroll">
    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Sucursal</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellido}}</td>
                <td>{{empleado.sucursal}}</td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" [routerLink]="['/empleados', i]" routerLinkActive="router-link-active" class="btn btn-block btn-warning btn-sm">
                              <!-- Editar -->
                              <i class="material-icons">create</i>
                            </button>
                        </div>

                        <div class="col-md-4">
                            <button (click)="bajaEmpleado(empleado.id)" type="button" class="btn btn-block btn-danger btn-sm">
                              <!-- Eliminar -->
                              <i class="material-icons">clear</i>
                            </button>
                        </div>

                        <div class="col-md-4">
                            <button type="button" [routerLink]="['/empleados/horastrabajadas', i]" routerLinkActive="router-link-active" class="btn btn-block btn-success btn-sm">
                              <!-- Liquidar -->
                              <i class="material-icons">attach_money</i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>