<div class="col">
    <br>
    <div class="row">
        <div class="col-12">

            <div class="row">
                <h5 class="m-auto">TURNOS</h5>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Ingrese DNI a buscar" [(ngModel)]="dniSocio">
                </div>
                <div class="col-md-2">
                    <button (click)="buscarSocio()" type="submit" class="btn btn-light">
                  Buscar
                  <i class="fa fa-search"></i>
                </button>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <!--
  <div class="row mt-2 ml-2">
      <h4>Grilla de Horarios</h4>
  </div>
  -->
    <div class="table-responsive-md mt-2 ml-2 mr-2">
        <table class="table  table-hover table-borderless ">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miercoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sabado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let act of actividadesSocio">
                    <th scope="row">{{ act.nombre }}</th>
                    <td>8:00 - 9:00 <span class="badge badge-info">10/20</span><br> 12:00 - 13:00 <span class="badge badge-info">6/20</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mt-5 ml-2">
        <div class="col-12">
            <h5>Datos reserva</h5>
            <hr>
            <form #formContacto="ngForm" (ngSubmit)="onSubmit(); formContacto.reset()">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Dni</label>
                        <input type="text" class="form-control" placeholder="Dni" disabled [(ngModel)]="dniSocio" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group col-md-4">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" disabled [(ngModel)]="socio.nombre" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group col-md-4">
                        <label>Apellido</label>
                        <input type="text" class="form-control" placeholder="Apellido" disabled [(ngModel)]="socio.apellido" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Actividad</label>
                        <select class="custom-select" id="inputGroupSelect01">
                          <option selected>Elija una activiad</option>
                          <option *ngFor="let act of actividadesSocio" value="{{act.id}}">{{act.nombre}}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Día</label>
                        <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Elija un día</option>
                      <option *ngFor="let dia of horarios" value="{{dia.id}}">{{dia.dia}}</option>
                  </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Horario</label>
                        <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Elija un horario</option>
                    <option value="1">8:00 - 9:00</option>
                    <option value="2">16:00 - 17:00</option>
                  </select>
                    </div>
                </div>
                <hr>

                <div class="form-row">
                    <div class="form-group text-center col-md-6 ">
                        <button type="submit " class="btn btn-info w-100 ">
                        <i class="far fa-calendar-check"></i>
                        Reservar
                    </button>
                    </div>

                    <div class="form-group text-center col-md-6">
                        <button type="submit " class="btn btn-info w-100 ">
                        <i class="far fa-window-close"></i>
                        Cancelar
                      </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>