<div class="col m-auto">
    <div class="row  mt-2">
        <div class="col-md-6">
            <h4>Grilla de Actividades</h4>
        </div>

        <div class="col-md-3 mb-2">
            <a class="nav-link btn btn-light float-right">
                Imprimir
                <i class="fa fa-print"></i>
            </a>
        </div>


        <div class="col-md-1 mb-2">
            <a class="nav-link btn btn-light float-right" href="http://127.0.0.1:8000/admin/SmartGym/horario/">
                <i class="fa fa-eye"></i>
            </a>
        </div>

        <div class="col-md-1 mb-2">
            <a class="nav-link btn btn-light float-right" href="http://127.0.0.1:8000/admin/SmartGym/posiblecliente/add/">
                <!--Tomar datos -->
                <i class="fa fa-edit"></i>
            </a>
        </div>

        <div class="col-md-1 mb-2">
            <a class="nav-link btn btn-light float-right" href="http://127.0.0.1:8000/admin/SmartGym/socio/add/">
                <!--Registrar como socio -->
                <i class="fa fa-user-plus"></i>
            </a>
        </div>

    </div>

    <!---
    <div class="table-responsive-md mt-2 ml-2 mr-2">
        <table class="table  table-hover table-borderless ">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miercoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sabado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let act of actividades; let i=index">
                    <th scope="row">{{act.nombre}}</th>
                    <td>{{act.sucursal}}</td>
                    <td *ngFor="let hora of horarios">{{ hora.hora_inicio | date: 'shortTime' }} - {{ hora.hora_fin | date: 'shortTime' }}</td>

                </tr>
            </tbody>
        </table>
    </div>
    -->
    <!--
    <hr>
    <div class="row mt-4 ml-2">
        <h4>Listado de Actividades y precios</h4>
    </div>
    -->
    <div class="table-responsive-md m-auto scroll ">
        <table class="table table-hover table-borderless texto fondo">
            <thead class="encabezado">
                <tr>
                    <th scope="col">Actividad</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Horarios</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let act of actividades; let i = index">
                    <th scope="row">{{act.nombre}}</th>
                    <td>{{act.sucursal}}</td>
                    <td>{{act.precio | currency: 'CAD':'symbol-narrow'}}</td>
                    <td>

                        <div *ngFor="let horario of horarios">
                            <div *ngIf="horario.actividad == act.id">
                                {{ horario.dia }}: {{ horario.hora_inicio | date: 'shortTime' }} - {{ horario.hora_fin | date: 'shortTime' }}
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
</div>

<div *ngIf="imprimir">

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content input-missing">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Dni inválido! <i class="fa fa-ban"></i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    Usted no es socio del Gimnasio, por favor pase por recepción y regístrese!
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>