<div class="col m-auto">
    <div class="row ml-2 mt-2">
        <h4>Grilla de Actividades</h4>
    </div>

    <!---
    <div class="table-responsive-md mt-2 ml-2 mr-2">
        <table class="table  table-hover table-borderless ">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miercoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sabado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let act of actividades; let i=index">
                    <th scope="row">{{act.nombre}}</th>
                    <td>{{act.sucursal}}</td>
                    <td *ngFor="let hora of horarios">{{ hora.hora_inicio | date: 'shortTime' }} - {{ hora.hora_fin | date: 'shortTime' }}</td>

                </tr>
            </tbody>
        </table>
    </div>
    -->
    <!--
    <hr>
    <div class="row mt-4 ml-2">
        <h4>Listado de Actividades y precios</h4>
    </div>
    -->
    <div class="table-responsive-md m-auto scroll ">
        <table class="table table-hover table-borderless texto fondo">
            <thead class="encabezado">
                <tr>
                    <th scope="col">Actividad</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Horarios</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let act of actividades; let i = index">
                    <th scope="row">{{act.nombre}}</th>
                    <td>{{act.sucursal}}</td>
                    <td>{{act.precio | currency: 'CAD':'symbol-narrow'}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let dia of horarios">
                                {{ dia.dia }}: {{ dia.hora_inicio | date: 'shortTime' }} - {{ dia.hora_fin | date: 'shortTime' }}
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
</div>