<div class=" row justify-content-center mt-3">
    <div class="btn-group mt-2" role="group" aria-label="Basic example">
        <button type="button" [routerLinkActive]="['active']" [routerLink]="['listadoproveedores']" class="btn btn-outline-info">Proveedores</button>
        <!-- <button type="button" [routerLinkActive]="['active']" [routerLink]="['modificarprov']" class="btn btn-outline-info">Modificar proveedor</button> -->
        <!-- <button type="button" [routerLinkActive]="['active']" [routerLink]="['pagoprov']" class="btn btn-outline-info">Pagar proveedor</button> -->
        <button type="button" [routerLinkActive]="['active']" [routerLink]="['abminsumos']" class="btn btn-outline-info">Insumos</button>
        <button type="button" [routerLinkActive]="['active']" [routerLink]="['sucursal']" class="btn btn-outline-info">Sucurales</button>
        <button type="button" [routerLinkActive]="['active']" [routerLink]="['auditoria']" class="btn btn-outline-info">Auditoria</button>
    </div>
</div>
<hr>
<router-outlet></router-outlet>