<div class=" row justify-content-center mt-3">
    <div class="btn-group mt-2" role="group" aria-label="Basic example">
        <button type="button" [routerLinkActive]="['active']" [routerLink]="['abm']" class="btn btn-outline-info">Alta socio</button>
        <button type="button" [routerLinkActive]="['active']" [routerLink]="['modificar']" class="btn btn-outline-info">Modificar socio</button>
        <button type="button" [routerLinkActive]="['active']" [routerLink]="['cobrar']" class="btn btn-outline-info">Cobrar cuota</button>
        <button type="button" [routerLinkActive]="['active']" [routerLink]="['reservar']" class="btn btn-outline-info">Reservar turno</button>
        <button type="button" [routerLinkActive]="['active']" [routerLink]="['rutinas']" class="btn btn-outline-info">Hacer rutinas</button>
    </div>
</div>
<hr>
<router-outlet></router-outlet>