<div class="example-container">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="nombre" class="prueba">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let socios"> {{socios.nombre}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="apellido">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
            <mat-cell *matCellDef="let socios"> {{socios.apellido}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Dni </mat-header-cell>
            <mat-cell *matCellDef="let socios"> {{socios.dni}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let socios">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" [routerLink]="['/socios', socios.id]" routerLinkActive="router-link-active" class="btn btn-warning btn-sm">
                          <!-- Editar -->
                          <i class="material-icons">visibility</i>
                        </button> &nbsp;


                        <button type="button" [routerLink]="['/socios/cobrar', socios.id]" routerLinkActive="router-link-active" class="btn  btn-success btn-sm ">
                          <!-- Cobrar -->
                          <i class="material-icons">attach_money</i>
                        </button> &nbsp;


                        <button type="button" [routerLink]="['/socios/reservar', socios.id]" routerLinkActive="router-link-active" class="btn  btn-secondary btn-sm ">
                          <!-- Reservar -->
                          <i class="material-icons">event</i>
                        </button> &nbsp;


                        <button type="button" [routerLink]="['/socios/rutinas', socios.id]" routerLinkActive="router-link-active" class="btn  btn-dark btn-sm ">
                          <!-- Rutinas -->
                          <i class="material-icons">assignment</i>
                        </button>


                        <!--
                        <button (click)="bajaEmpleado(empleado.id)" type="button" class="btn  btn-danger btn-sm ">
                            <i class="material-icons">block</i>
                        </button>
                        -->

                    </div>
                </div>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
        <mat-row *matRowDef="let socios; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]="true"></mat-paginator>
</div>