<div class=" row justify-content-center mt-3">
    <div class="btn-group mt-2" role="group" aria-label="Basic example">
        <button type="button" name="consultorio" [routerLinkActive]="['active']" [routerLink]="['listadoconsul']" class="btn btn-outline-info">Consultorios</button>
        <button type="button" name="profesional" [routerLinkActive]="['active']" [routerLink]="['listadoprofesionales']" class="btn btn-outline-info">Profesionales </button>
        <button type="button" name="busqueda" [routerLinkActive]="['active']" [routerLink]="['busquedapaciente']" class="btn btn-outline-info"> <i class="fa fa-search"></i> Busqueda paciente</button>
    </div>
</div>
<hr>

<router-outlet></router-outlet>