<br>
<div class="col">

    <div class="row">
        <div class="col-12">
            <div class="row">
                <h5 class="m-auto">CAJA</h5>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Ingrese DNI a buscar" [(ngModel)]="dniSocio">
                </div>
                <div class="col-md-2">
                    <button (click)="buscarSocio()" type="submit" class="btn btn-light" data-toggle="modal" data-target="#modalCaja">
                      Buscar
                      <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <br>

            <div *ngIf="encontrado" class="row">
                <div class="col-md-12">
                    <h5 class="float-left">Datos socio</h5>
                </div>
            </div>
            <hr>
            <form *ngIf="encontrado" #formContacto="ngForm" (ngSubmit)="formContacto.reset()" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="{{socio.nombre}}" name="nombre" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Apellido</label>
                        <input type="text" class="form-control" placeholder="{{socio.apellido}}" name="apellido" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Dni</label>
                        <input type="text" class="form-control" placeholder="{{socio.dni}}" name="dni" disabled>
                    </div>
                </div>

                <div *ngFor="let actividad of actividadesSocio; let i = index" class="form-row">
                    <div class="form-group col-md-6">
                        <label *ngIf="i == 0">Actividad/es</label>
                        <input type="text" class="form-control" placeholder="{{actividad.nombre}}" name="actividad" disabled>
                    </div>
                    <div class="form-group  col-md-6">
                        <label *ngIf="i == 0">Precio</label>
                        <input type="number" class="form-control" placeholder="{{actividad.precio | currency: 'ARS': 'symbol-narrow' }}" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="row m-auto">
                            <label>Ultimos pagos</label>
                        </div>

                        <div class="row m-auto scroll">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li *ngFor="let cuota of cuotasSocio" class="list-group-item">
                                        {{cuota.fecha_vencimiento}} - {{cuota.monto | currency: 'ARS': 'symbol-narrow'}}
                                        <small *ngIf="cuota.descripcion"> - {{cuota.descripcion}} </small> - {{cuota.metodo_pago}} - {{cuota.codigo_transaccion}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div *ngIf="socio.saldo" class="form-row">
                    <label>Saldo</label>
                    <input type="number" class="form-control is-valid" placeholder="Al dia" disabled>
                </div>

                <div *ngIf="!socio.saldo" class="form-row">
                    <label>Saldo</label>
                    <input type="number" class="form-control is-invalid" placeholder="Vencido!" disabled>
                </div>
                <br>
                <div class="form-row">
                    <label>Cuenta</label>
                    <input type="number" class="form-control" placeholder="{{socio.cuenta | currency: 'ARS': 'symbol-narrow'}}">
                </div>
                <br>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>A cobrar</label>
                        <input type="number" class="form-control" placeholder="Ingrese monto a cobrar" [(ngModel)]="montoAcobrar" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Fecha</label>
                        <input type="string" class="form-control" placeholder="Fecha" [(ngModel)]="fechaCobro" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-check form-check-inline col-md-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="efectivo" [(ngModel)]="modoPago" value="efectivo" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="inlineRadio1">Contado/Efectivo</label>
                        <i class="fa fa-money-bill-wave"></i>
                    </div>
                    <div class="form-check form-check-inline col-md-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="debito" [(ngModel)]="modoPago" value="debito" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="inlineRadio2">
                            Débito <i class="fa fa-credit-card"></i>
                        </label>

                    </div>
                    <div class="form-check form-check-inline col-md-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="credito" [(ngModel)]="modoPago" value="credito" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="inlineRadio3">
                            Crédito <i class="fa fa-credit-card"></i>
                         </label>

                    </div>
                </div>
                <hr>

                <div *ngIf="(modoPago == 'credito') || (modoPago == 'debito')">
                    <div class="form-row">
                        <div class="form-group  col-md-12">
                            <label>Código de transaccion</label>
                            <input type="text" class="form-control" placeholder="Código" [(ngModel)]="codigoTrans" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>


                </div>
                <br>

                <div class="form-row">
                    <label>Observaciones</label>
                    <textarea class="form-control" rows="4" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}"></textarea>
                </div>

                <hr>
                <div class="form-row">
                    <div class="form-group text-center col-md-6 ">
                        <button type="submit " (click)="cobrar()" class="btn btn-info w-100 ">
                            <i class="fa fa-cash-register"></i>
                            Cobrar
                            </button>
                    </div>

                    <div class="form-group text-center col-md-6">
                        <button type="submit " (click)="limpiar()" class="btn btn-info w-100 ">
                                <i class="fa fa-trash-alt"></i>
                                Cancelar operación
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="!encontrado">

    <div class="modal fade" id="modalCaja" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mensaje del sistema <i class="fa fa-exclamation-circle"></i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    No se ha encontrado un socio con ese número de documento! Por favor ingrese un DNI válido...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="limpiar()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>