<div class="col">
    <!--
    <div class="row justify-content-center scroll">
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.actividad}}</td>
                    <td>{{empleado.sucursal}}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-block btn-warning btn-sm">
                                  <!-- Editar 
                                  <i class="material-icons">create</i>
                                </button>
                            </div>

                            <div class="col-md-6">
                                <button (click)="bajaEmpleado(empleado.id)" type="button" class="btn btn-block btn-danger btn-sm">
                                  <!-- Eliminar 
                                  <i class="material-icons">clear</i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    -->
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-10">
                    <h5 class="float-left">Datos empleado <i class="material-icons">person_add</i> </h5>
                </div>
                <div class="col-md-2">
                    <button type="submit" [routerLink]="['/empleados']" class="float-right btn btn-danger w-10 ">
                        <!-- <i class="material-icons">cancel</i> -->
                        <i class="fa fa-arrow-left"></i>
                        
                    </button>
                </div>
            </div>
            <br>
            <form #formContacto="ngForm" (ngSubmit)="formContacto.reset()" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nuevo_empleado.nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Apellido</label>
                        <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="nuevo_empleado.apellido" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Dni</label>
                        <input type="text" class="form-control" placeholder="Dni" [(ngModel)]="nuevo_empleado.dni" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Genero</label>
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="nuevo_empleado.genero" [ngModelOptions]="{standalone: true}">
                            <option selected>Género</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Fecha de nacimiento</label>
                        <input type="date" class="form-control" placeholder="Fecha de nacimiento" [(ngModel)]="nuevo_empleado.fecha_nacimiento" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Teléfono</label>
                        <input type="tel" class="form-control" placeholder="Teléfono" [(ngModel)]="nuevo_empleado.tel_fijo" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Teléfono de emergencia</label>
                        <input type="tel" class="form-control" placeholder="Teléfono" [(ngModel)]="nuevo_empleado.telefono_emergencia" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Dirección</label>
                        <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="nuevo_empleado.domicilio" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Correo</label>
                        <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="nuevo_empleado.email" [ngModelOptions]="{standalone: true}">
                    </div>
                    <!--
                    <div class="form-group col-md-6">
                        <label>Foto</label>
                        <input type="file" class="form-control-file" [(ngModel)]="nuevo_empleado.ficha_medica" [ngModelOptions]="{standalone: true}">
                    </div>
                    -->
                    <div class="form-group col-md-6">
                        <label>Foto</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile02" [(ngModel)]="nuevo_empleado.foto" [ngModelOptions]="{standalone: true}">
                                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Foto</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha inicio</label>
                        <input type="date" class="form-control" placeholder="Fecha inicio" [(ngModel)]="nuevo_empleado.fecha_inicio" [ngModelOptions]="{standalone: true}">
                    </div>
                    <!--
                    <div class="form-group col-md-3">
                        <label>Actividad</label>
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="nuevo_empleado.actividad" [ngModelOptions]="{standalone: true}">
                            <option selected>Elija una actividad</option>
                            <option *ngFor="let act of actividades" value="{{act.id}}" > {{ act.nombre }} </option>
                        </select>
                    </div>
                    -->
                    <!--
                    <div class="form-group col-md-6">
                        <label>Ficha médica</label>
                        <input type="file" class="form-control-file" [(ngModel)]="nuevo_empleado.ficha_medica" [ngModelOptions]="{standalone: true}">
                    </div>
                    -->
                    <div class="form-group col-md-6">
                        <label>Ficha médica</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile02" [(ngModel)]="nuevo_empleado.ficha_medica" [ngModelOptions]="{standalone: true}">
                                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Ficha médica</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Especialidad</label>
                        <input type="text" class="form-control" placeholder="Especialidad" [(ngModel)]="nuevo_empleado.especialidad" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Sucursal</label>
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="nuevo_empleado.sucursal" [ngModelOptions]="{standalone: true}">
                            <option selected>Elija una sucursal</option>
                            <option *ngFor="let suc of sucursales" value="{{suc.id}}" > {{ suc.nombre }} </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Observaciones</label>
                        <textarea type="textarea" class="form-control" placeholder="Observaciones Medicas" [(ngModel)]="nuevo_empleado.observaciones_medicas" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </div>

                <!--
                <div class="form-row">
                    <div class="form-group col-md-1 text-center">
                        <button type="submit" [routerLink]="['/empleados']" class="text-center btn btn-success w-10 ">
                             <i class="material-icons">cancel</i> 
                            <i class="fa fa-plus-circle"></i>    
                        </button>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Actividad</label>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Elija una actividad</option>
                            <option value="1">Musculación</option>
                            <option value="2">Boxeo</option>
                            <option value="3">Funcional</option>
                            <option value="1">Crossfit</option>
                            <option value="2">Pilates</option>
                        </select>
                    </div>
                </div>
                -->
                <!--
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Actividad</label>
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                            <option selected>Elija un actividad</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="button">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <!--
                <div class="form-row">
                    <div *ngFor="let act of actividades" class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" value="{{act.id}}" [(ngModel)]="prueba" [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="customCheck1">
                            {{ act.nombre }}
                        </label>
                    </div>
                </div>
                -->
                <div class="form-row">
                    <div class="col-md-12">
                        <label>Actividades</label>
                        <div *ngFor="let act of actividades" class="row m-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{act.id}}" id="{{act.id}}" [(ngModel)]="prueba" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="defaultCheck1">
                                    {{ act.nombre }}
                                </label>
                            </div>
                        </div>
                        <br>
                    </div>

                </div>

                <hr>

                <div class="form-group text-center ">
                    <button (click)="nuevoEmpleado()" type="submit" class="btn btn-info w-100 ">
                            <i class="fa fa-save "></i>
                            Guardar
                        </button>
                </div>


            </form>
        </div>

    </div>
</div>