<nav class="navbar  nav-pills  navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand titulo" href="#">
        <!-- <i class="fas fa-dumbbell"></i> -->
        <img src="../../../../assets/logo1.png" width="30" height="30" class="d-inline-block align-top" alt=""> SmartGYM
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div *ngIf="this.djangoService.user_token" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mr-auto top-menu">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['principal']" [routerLinkActive]="['active']">Principal <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['socios']" [routerLinkActive]="['active']">Socios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['administracion']" [routerLinkActive]="['active']">Administración</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['empleados']" [routerLinkActive]="['active']">Empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['actividades']" [routerLinkActive]="['active']">Actividades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['gestionmarketing']" [routerLinkActive]="['active']">Marketing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['centromedico']" [routerLinkActive]="['active']">Consultorios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['gestionestadisticas']" [routerLinkActive]="['active']">Estadísticas </a>
            </li>
        </ul>
        <span class="navbar-text">
            <span class="letras ">Cerrar Sesión</span>
        <button class="btn btn-sm btn-danger m-auto boton " (click)="this.djangoService.logout()" *ngIf="this.djangoService.user_token">
                
            <i class="fa fa-sign-out" style="font-size:20px"></i>
            </button>
        </span>

    </div>
</nav>