.letras {
    color: rgb(155, 153, 153);
    padding: 5px;
}


/*
.boton {
    border-radius: 50%;
    text-align: center;
    align-content: center;
}
*/

.titulo {
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Pacifico', cursive;
    /* font-family: 'Righteous', cursive;*/
}

.encabezado {
    background-color: #354052;
    color: #6f7e95;
}

.nav-pills>li>a.active {
    background-color: #47bac1!important;
}