<br>
<div class="row m-auto">
    <div class="col-12">
        <div class="row">
            <div class="col-md-10">
                <h5>Liquidar horas: <small>{{empleado.nombre}}</small></h5>
            </div>
            <div class="col-md-2">
                <button type="submit" [routerLink]="['/empleados']" class="float-right btn btn-danger w-10 ">
                  <!-- <i class="material-icons">cancel</i> -->
                  <i class="fa fa-arrow-left"></i>
                  
              </button>
            </div>
        </div>
        <hr>
    </div>


</div>