<div *ngIf="this.djangoService.user_token && !this.djangoService.banderaEntrada" class="col borde">
    <div class="row ml-2 mt-2">
        <h4>Control de ingreso</h4>
    </div>
    <div class="row justify-content-center mt-2 ">
        <div class="col-12">
            <div class="card m-auto foto" [ngClass]="{'input-missing' : !socio.saldo}">

                <div class="row no-gutters img ">
                    <div class="col-md-12 ">
                        <img src="{{socio.foto}}" class="card-img-top img" alt="Foto del usuario">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 ">
                        <div class="card-body">
                            <ul class="list-group  ">
                                <li class="list-group-item" [ngClass]="{'input-missing' : !socio.saldo}">{{ socio.nombre }} {{ socio.apellido }}</li>
                                <!-- <li class="list-group-item" [ngClass]="{'input-missing' : !socio.saldo}">{{ actividad.nombre }}</li> -->
                                <li *ngIf="socio.saldo" class="list-group-item">Al dia</li>
                                <li *ngIf="!socio.saldo" class="list-group-item" [ngClass]="{'input-missing' : !socio.saldo}">Vencido!</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-2 mr-1 ml-1">
        <button (click)="abrirPuerta()" type="button" class="btn btn-light  btn-lg bordeboton m-auto">Abrir</button>
    </div>

    <!--
    <div class="row mt-2 mr-1 ml-1 scroll">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Fecha y Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of asistencia; let i = index">
                    <td> {{d.socio}}</td>
                    <td>{{d.sucursal}}</td>
                    <td> {{ d.fecha_ingreso | date:'M/d/yy, h:mm a' }}</td>
                </tr>

            </tbody>
        </table>
    </div>
    -->

</div>