.scroll {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: auto;
}

.foto {
    border-radius: 2rem !important;
    margin: 0 auto;
    overflow: hidden;
    height: 440px;
    width: 300px;
}

.borde {
    border-radius: 2rem;
}

.img {
    width: 300px;
    height: 270px;
}

.input-missing {
    /* border: 2px solid rgb(197, 40, 40); */
    background-color: rgb(197, 40, 40);
    color: whitesmoke;
}